body{
  background-image: url('https://images.pexels.com/photos/1172849/pexels-photo-1172849.jpeg');
  background-size: cover;
  background-position: center;
  color: white; 

}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color:#252525;

}

.texto{
  text-align: center; 
  font-family: Arial; 
  font-weight: bold; 
  font-size: 40px; 
  COLOR: #A4907C; 
  text-align: start;
  
}
.start{
  text-align: start;
  /* color: #F1F1F1; */
}
.feriado{
  color: #A4907C;
  font-weight: bold;
  text-align: start;
}
.margen{
  margin: 10px;
  font-weight: bold;
}
.table-transparent {
  background-color: transparent;
}

.table-transparent thead th {
  background-color: rgba(255, 255, 255, 0.3); /* Ajusta el nivel de transparencia según tus necesidades */
}

.table-transparent tbody td {
  background-color: rgba(255, 255, 255, 0.1); /* Ajusta el nivel de transparencia según tus necesidades */
}

.select {
  background: transparent;
  border: 2px solid #A4907C ;
  font-size: 14px;
  height: 30px;
  padding: 5px;
  width: 150px;
  border-radius: 5px;
}

